@import url('base.css');

:root {
    --post-content-max-size: 400px;
}

main {
    display: flex;
    padding: 0 calc(50% - 520px);
    justify-content: right;
    background-color: unset;
}

.content_bar {
    margin-right: 220px;
    background-color: unset;
}

.sidebar {
    width: 200px;
    border: 1px solid var(--border-color);
    padding: 10px 10px;
    border-radius: var(--border-radius);
    position: fixed;
    transition: all 2s ease 0s;
}

.sidebar:hover {
    border-color: var(--accent-color);
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding-bottom: 5px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.sidebar_tool {
    color: var(--border-color);
    transition: all 1s ease 0s;
}

.sidebar:hover .sidebar_tool {
    transition: all 1s ease 0s;
    color: currentColor;
}

.sidebar:hover .sidebar_tool:hover {
    color: var(--accent-color);
    transition: all 0.3s ease 0s;
}

@media (max-width: 1000px) {
    .sidebar {
        display: none;
    }

    .content_bar {
        margin-right: 0;
    }
}

.post_block {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: 35px;
    transition: all 2s ease 0s;
    background-color: unset;
    ::selection {
        color: var(--background-color);
        background-color: var(--accent-color);
    }
}

.post_block:hover {
    border-color: var(--accent-color);
}

.post_title {
    padding-bottom: 30px;
    font-size: 1.6rem;
}

.post_block p {
    /* text-indent: 25px; */
    padding-bottom: 10px;
    background-color: unset;
}

.post_content {
    max-height: var(--post-content-max-size);
    overflow-y: hidden;
    transition: all 2s ease 0s;
    z-index: -1;
    position: relative;
    background-color: unset;
}

.post_content_shadow {
    background: linear-gradient(0deg, var(--background-color) 0%, #00000000 25%);
    cursor: text;
}

.readmore_block {
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
    transition: all 2s ease 0s;
}

.readmore_btn {
    background-color: unset;
    border: none;
    cursor: pointer;
    transition: all 1s ease 0s;
}

/* @keyframes amin {
    80% { color: var(--accent-color) }
    100% { color: currentColor }
  } */

.readmore_btn:hover {
    color: var(--accent-color);
    transform: scale(1.02);
    /* animation: amin 6s infinite; */
}

.footbar_post_button {
    color: #565c63;
    padding: 10px 10px;
    margin-left: 5px;
    border: 2px solid;
    border-radius: 50px;
    cursor: pointer;
    transition: all 1s ease 0s;
}

.footbar_post_button:hover{
    border-color: var(--accent-color);
    transform: scale(1.1)
}