@import url('color_schemes.css');
@import url('base.css');
@import url('post.css');

:root {
    --post-content-max-size: 600px;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0px 20px;
    padding: 0 calc(50% - 520px);
    justify-content: space-between;
}

* {
    transition: all 2s ease 0s;
}

.content_bar {
    width: auto;
    transition: width 2s ease 0s;
}

.sidebar {
    margin-left: 20px;
    height: 400px;
    border: 1px solid var(--border-color);
    padding: 10px 10px;
    border-radius: var(--border-radius);
    position: sticky;
    top: 90px;
    transition: border 2s ease 0s, background var(--time-color-scheme-changing) ease 0s;
    background-color: var(--background-color);
}

body .sidebar:hover {
    border-color: var(--accent-color);
}

.sidebar ul {
    width: 150px;
    list-style-type: none;
}

.sidebar ul li {
    padding-bottom: 5px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.sidebar_tool {
    color: var(--btns-border-color);
    transition: all 1s ease 0s;
}

.sidebar:hover .sidebar_tool {
    transition: all 1s ease 0s;
    color: currentColor;
}

.sidebar:hover .sidebar_tool:hover {
    color: var(--accent-color);
    transition: all 0.3s ease 0s;
}

@media (max-width: 1000px) {
    .sidebar {display: none;}
    .content_bar {margin-right: 0;}
}
