@import url('base.css');

main {
    /* margin-top: 90px; */
    display: flex;
    padding: 0 calc(50% - 520px);
    justify-content: right;
}

.content_bar {
    margin-right: 220px;
}

.sidebar {
    width: 200px;
    border: 1px solid var(--border-color);
    padding: 10px 10px;
    border-radius: var(--border-radius);
    position: fixed;
    transition: all 2s ease 0s;
}

.sidebar:hover {
    border-color: var(--accent-color);
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    padding-bottom: 5px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.sidebar_tool {
    color: var(--border-color);
    transition: all 1s ease 0s;
}

.sidebar:hover .sidebar_tool {
    transition: all 1s ease 0s;
    color: currentColor;
}

.sidebar:hover .sidebar_tool:hover {
    color: var(--accent-color);
    transition: all 0.3s ease 0s;
}

.post_block {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: 35px;
    transition: all 2s ease 0s;
}

.post_block:hover {
    border-color: var(--accent-color);
}

.post_block p {
    padding-bottom: 10px;
}

.post_content {
    max-height: 300px;
    overflow-y: hidden;
    transition: all 2s ease 0s;

    /* background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%) */
}

.readmore_block {
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
    transition: all 2s ease 0s;
}

.readmore_btn {
    border: none;
    transition: all 1s ease 0s;
    cursor: pointer;
}

.readmore_btn:hover {
    color: var(--accent-color);
    transform: scale(1.05);
}