:root {
    --font-color: #3a3a3a;
    --background-color: #ffffff;
    --btns-border-color: #565c63;
    --border-color: #3a3a3a;
}

:root .dark-theme {
    --font-color: #999999;
    --background-color: #212529;
    --btns-border-color: #565c63;
    --border-color: #343a40;
}