<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>
        {{ title }}
    </title>
    {% block styles %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>

<body id="main">
    <header>
        <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
        <nav>
            <ul class="nav_links">
                <li class="{% if title == 'Blog' %}active{% endif %}"><a href="/">Блог</a></li>
                <li class="{% if title == 'Random' %}active{% endif %}"><a href="/random">Рандомная</a></li>
            </ul>
        </nav>
        <div>
            <button class="search_button"></button>
            <button class="search_button"></button>
            <button class="search_button"></button>
        </div>
    </header>
    {% block main %}{% endblock %}
    <script src="{{ url_for('static', filename='js/readmore.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scrollbar_thumb_color.js') }}"></script>
</body>

</html>