{% extends 'base.html' %}


{% block styles %}
<link type="text/css" href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet" />
{% endblock %}


{% set title = 'Blog' %}


{% block main %}
<main>
    <section class="content_bar">
        {% for post in posts %}
        <article class="post_block" post_id="{{ post.id }}">
            <h1 class="post_title">{{ post.title }}</h1>
                <div class="post_content">
                    {% for paragraph in post.content.split('\n') %}
                    <p>{{ paragraph }}</p>
                    {% endfor %}
                </div>
            <div class="post_content_shadow"></div>
            <div class="post_footbar">
                <button class="readmore_btn">Read more...</button>
                <ul class="post_footbar_btns">
                    <a class="post_footbar_btn bi bi-share" href=""></a>
                    <a class="post_footbar_btn bi bi-chat-square-text" href="post/{{ post.id }}"></a>
                    <a class="post_footbar_btn bi bi-bookmark" href=""></a>
                    <a class="post_footbar_btn bi bi-heart" href=""></a>
                </ul>
            </div>
        </article>
        {% endfor %}
    </section>
    <aside id="sidebar">
        <nav id="sidebar-block-links">
            <h3>Links</h3>
            <ul class="sidebar_links_list">
                <a class="sidebar_link" href="#liked"><i class="bi bi-heart"></i>Liked</a>
                <a class="sidebar_link" href="#bookmarks"><i class="bi bi-bookmarks"></i>Bookmarks</a>
                <a class="sidebar_link" href="#comments"><i class="bi bi-chat-square-text"></i>Comments</a>
                <a class="sidebar_link" href=""><i class="bi bi-link"></i>Fourth link</a>
                <a class="sidebar_link" href=""><i class="bi bi-link"></i>Fifth link</a>
            </ul>
        </nav>
        <a id="sidebar-btn-addpost" href="/add_post" target="_blank">
            <i class="bi bi-plus-lg"></i><span>Add post</span>
        </a>
    </aside>
</main>
{% endblock %}
