{% extends 'base.html' %}


{% block title %}Example page{% endblock %}


{% block activ_status_example %} style="color: indianred; text-shadow: 0 0 5px red;" {% endblock %}


{% block content %}

<div class="border" style="border-radius: 20px; padding: 4%;">
    <h1>Lorem, ipsum dolor.</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel totam, ipsa perferendis itaque reiciendis voluptate dolorum est expedita, exercitationem sed dignissimos voluptas ex, accusamus consequatur ducimus quod facere repellendus unde adipisci maxime. Tenetur voluptatem nulla cumque ipsam totam impedit nam, explicabo velit quos tempore, omnis beatae voluptatum molestiae culpa reprehenderit rerum ea unde! Sapiente, eaque. Quod quisquam earum aperiam, odit rem nulla consectetur ipsam nisi corporis sed excepturi odio. Repudiandae qui non neque laboriosam voluptates perspiciatis eius nesciunt vitae voluptatum! Inventore perferendis repellendus libero labore consectetur! Doloremque reiciendis minus, voluptatum rem ducimus voluptate atque accusamus, fuga, modi similique alias eaque.</p>
</div>

{% endblock %}