{% extends 'base.html' %}


{% block styles %}
<link type="text/css" href="{{ url_for('static', filename='css/blog.css') }}" rel="stylesheet" />
{% endblock %}


{% set title = 'Blog' %}


{% block main %}
<main>
    <section class="content_bar">
        {% for post in posts %}
        <article class="post_block" post_id="{{ post.id }}">
            <h1 class="post_title">{{ post.title }}</h1>
                <div class="post_content">
                    {% for p in post.content.split('\n') %}
                    <p>{{ p }}</p>
                    {% endfor %}
                </div>
            <div class="post_content_shadow"></div>
            <div class="post_footbar">
                <button class="readmore_btn">Показать полностью →</button>
                <ul class="post_footbar_btns">
                    <a class="post_footbar_btn bi bi-chat-square-text-fill" href="post/{{ post.id }}"></a>
                    <a class="post_footbar_btn bi bi-bookmark-fill" href=""></a>
                    <a class="post_footbar_btn bi bi-share-fill" href=""></a>
                </ul>
            </div>
        </article>
        {% endfor %}
    </section>
    <aside class="sidebar">
        <ul>
            <li><a class="sidebar_tool" href="">Фильтры</a></li>
            <li><a class="sidebar_tool" href="">Instrument 3</a></li>
            <li><a class="sidebar_tool" href="">Instrument 4</a></li>
            <li><a class="sidebar_tool" href="#main">Instrument 5</a></li>
        </ul>
    </aside>
</main>
{% endblock %}